.dashboard__section {
  + .dashboard__section {
    margin-top: 3em;
  }

  h2 {
    border-bottom: 1px solid $color-grey-500;
    margin-bottom: 1em;
    padding-bottom: 0.5em;
  }
}

.dashboard__tile {
  @extend button;
  background: $color-teal;
  padding: 1em;
}

.dashboard__subcontent {
  margin-top: 1em;
}
