label {
  display: block;
  margin: 0.25em 0;
}

input {
  background-color: $color-grey-200;
  border: 1px solid $color-teal;
  border-radius: $radius;
  color: $color-black;
  padding: 0.25em;
  transition: background-color 0.25s;
  width: 100%;

  &:hover,
  &:focus {
    background-color: $color-white;
  }
}

button {
  background-color: shade($color-green, 15%);
  border: 0;
  border-radius: $radius;
  box-shadow: 0 0.1em 0.15em rgba($color-black, 0.5);
  color: $color-white;
  margin: 1em 0;
  padding: 0.35em 1em;
  position: relative;
  transition: background-color 0.25s, transform 0.25s;

  &::after {
    box-shadow: 0 0 0.5em $color-black;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.25s;
    width: 100%;
  }

  &:hover {
    background-color: shade($color-green, 25%);
    transform: translateY(-2px);

    &::after {
      opacity: 0.75;
    }
  }
}

.button--teal {
  background-color: $color-teal;
}
