.landing_page__hero {
  align-items: center;
  background: url('/img/hero.jpg') no-repeat center center / cover;
  display: flex;
  height: 100vh;
  max-height: 40em;
  position: relative;
  width: 100%;

  &::before {
    background: linear-gradient(-45deg, $color-teal, $color-green);
    content: '';
    display: block;
    height: 100%;
    opacity: 0.65;
    position: absolute;
    width: 100%;
    z-index: 0;
  }

  .container {
    position: relative;
  }
}

.landing_page__row {
  background-color: $color-white;
  color: $color-black;
  padding: 1em 0;
}
