*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: $color-grey-700;
  color: $color-white;
  font: 400 16px/1.5 $fonts;
}

::selection {
  background-color: $color-teal;
  color: $color-white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  margin-top: 0;
}

p + p {
  margin-top: 1em;
}

a {
  color: $color-teal;
  text-decoration: none;
  transition: color 0.15s;

  &:hover {
    color: $color-green;
  }
}
