*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: $color-grey-700;
  color: $color-white;
  font: 400 16px/1.5 $fonts;
}

::selection {
  background-color: $color-teal;
  color: $color-white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  margin-top: 0;
}

p + p {
  margin-top: 1em;
}

a {
  color: $color-teal;
  text-decoration: none;
  transition: color 0.15s;

  &:hover {
    color: $color-green;
  }
}

dd {
  font-weight: 600;
  text-transform: uppercase;

  dt + & {
    margin-top: 1em;
  }
}

dt {
  font-size: 1.5em;
  font-weight: 300;
}

hr {
  border: 0;
  border-top: 1px solid $color-grey-500;
  height: 0;
  margin: 1em 0;
}
